<style>
  table {
    width: 100%;
  }
  table {
    margin: 0;
    padding: 0;
  }
  table,
  th,
  td {
    border: 1px solid #555555;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
  }
  tr:nth-child(2n + 0) {
    background: #eeeeee;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
</style>

<div>
  <h1>Ramais</h1>
  <br />
  <table border="1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ramal</th>
        <th>Celular</th>
      </tr>
    </thead>
    <tbody>
      {% for ramal in ramais %}
      <tr>
        <td>{{ramal.nome}}</td>
        <td>{{ramal.ramal}}</td>
        <td>{{ramal.celular}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
