<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Agendamento de Sala</h2>
    <div style="padding: 20px; background: #dedede;">
      <p><strong>Usuário: </strong> {{ usuario }}</p>
      <p><strong>Sala: </strong> {{ sala }}</p>
      <p><strong>Data Inicio: </strong> {{ data_inicio }}</p>
      <p><strong>Data Fim: </strong> {{ data_fim }}</p>
      <p><strong>Hora Inicio: </strong> {{ hora_inicio }}</p>
      <p><strong>Hora Fim: </strong> {{ hora_fim }}</p>
    </div>
  </body>
</html>
